[build]
  command = ""
  publish = "."

[functions]
  node_bundler = "esbuild"

[build.environment]
  NODE_VERSION = "18"


[[redirects]]
  from = "/p/*"
  to = "/.netlify/functions/share/:splat"
  status = 200
